<!DOCTYPE html>
<html lang="en">
  <%- include('parts/header.ejs') %>
  <body>
    <%- include('parts/navbar.ejs') %>
    <div class="containerSignup">
      <div class="inerContainer">
        <h3>Create account</h3>
        <br />
        <form action="/signup" method="POST">
          <input
            id="username"
            type="text"
            name="username"
            class="form-control"
            placeholder="Username"
          />
          <div class="wrong">
            <% let usernameError = validationErrors.find(err=> err.param
            ==='username') %> <% if(usernameError) { %> <%= usernameError.msg %>
            <% } %>
          </div>
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="E-mail"
          />
          <div class="wrong">
            <% let emailError = validationErrors.find(err=> err.param
            ==='email') %> <% if(emailError) { %> <%= emailError.msg %> <% } %>
          </div>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
          />
          <div class="wrong">
            <% let passwordError = validationErrors.find(err=> err.param
            ==='password') %> <% if(passwordError) { %> <%= passwordError.msg %>
            <% } %>
          </div>
          <input
            type="password"
            name="confirmPassword"
            class="form-control"
            placeholder="Confirm Password"
          />
          <div class="wrong">
            <% let confirmPasswordError = validationErrors.find(err=> err.param
            ==='confirmPassword') %> <% if(confirmPasswordError) { %> <%=
            confirmPasswordError.msg %> <% } %>
          </div>
          <input type="submit" value="Create account" class="btnMe" />
        </form>
        <br />
        <div class="note">
          <span>Already have account ?</span> <a href="/login">Login</a>
        </div>
      </div>
    </div>
    <%- include('parts/footer.ejs') %>
  </body>
</html>
